.scanner{
    max-width: 1440px;
    margin: 7rem auto;
    width: 19%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
 
}
.scanner-card{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scanner-card img{
    width: 210px;
    border-radius: 10px;
}

.scanner-text{
    margin: 0rem;
}

.scanner-card h3 p{
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    margin: 0;
}
.scanner-card p{
    color: hsl(220, 15%, 55%);
    font-size: 12px;
    margin: 0 0 1rem 0;
}

@media (max-width:375px){
    .scanner-card{
        background-color: #fff;
        border-radius: 10px;
    }
}